# игнорировать файл с токеном
tok.yaml

# игнорировать логи
logs/py_log.log

# игнорировать служебные директории
notebooks/.ipynb_checkpoints
.ipynb_checkpoints
.venv
.idea

# игнорировать файлы
cams
src/data_preparation/test.py


# игнорировать выходные файлы
*.zip
*.nc
